.login-button {
  padding: 7px 25px!important;
  &::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:10px;
    padding: 3px;
    background:linear-gradient(to bottom, #89cbd2, #424ccc);
    -webkit-mask:
            linear-gradient(var(--link-color) 0 0) content-box,
            linear-gradient(var(--link-color) 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  img {
    margin-left: -5px;
    margin-right: 5px;
    width: 22px;
    vertical-align: middle;
  }
}

.btn {
  transition: opacity 111ms linear;
  border-radius: 5px!important;
  padding: 0 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #3a405b;
  border: none;
  cursor: pointer;
  display: block!important;
  position: relative;
  opacity: 1;
  text-transform: uppercase;
  font-size: 1.4rem!important;
  letter-spacing: 1px;
  min-width: auto!important;
  white-space: nowrap;
  line-height: 1.4rem;
  &.primary {
    border: 2px solid rgba(white, .2);
    background-image: linear-gradient(to bottom, #768958, #11923b 97%), linear-gradient(189deg, #e48568 143%, rgba(13, 195, 79, 0.36) 18%);
    color: white;
    font-weight: bold;
    text-align: center;
    &:hover {
      background-color: var(--blue);
    }
  }
}

