.contact-form {
  margin-left: 175px;
  max-width: 450px;
  padding: 0 10px;
}
.input-bg-element {
  margin-top: 15px;
  border-radius: 7px;
  background-image: linear-gradient(186deg, #E48568, #0DC34F);
  position: relative;
  padding: 2px;
  &.textarea-cont {
    box-sizing: border-box;
    height: 64px;
  }
  input, textarea {
    margin: 0;
    border: none;
    border-radius: 6px;
    width: 100%;
    height: 40px;
    background-color: #2D324B;
    color: rgba(#c2cbe9, .5);
    font-size: 16px;
  }
  textarea {
    height: 60px;
    resize: none;
    min-height: auto;
  }
}
