@font-face {
  font-family: 'gilroy';
  font-weight: normal;
  font-style: normal;
  src: url('~assets/fonts/gilroy/Gilroy-Medium/Gilroy-Medium.eot');
  src: url('~assets/fonts/gilroy/Gilroy-Medium/Gilroy-Medium.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/gilroy/Gilroy-Medium/Gilroy-Medium.woff2') format('woff2'), url('~assets/fonts/gilroy/Gilroy-Medium/Gilroy-Medium.woff') format('woff'), url('~assets/fonts/gilroy/Gilroy-Medium/Gilroy-Medium.ttf') format('ttf'), url('~assets/fonts/gilroy/Gilroy-Medium/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
}

@font-face {
  font-family: 'gilroy';
  font-weight: 500;
  font-style: normal;
  src: url('~assets/fonts/gilroy/Gilroy-SemiBold/Gilroy-SemiBold.eot');
  src: url('~assets/fonts/gilroy/Gilroy-SemiBold/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/gilroy/Gilroy-SemiBold/Gilroy-SemiBold.woff2') format('woff2'), url('~assets/fonts/gilroy/Gilroy-SemiBold/Gilroy-SemiBold.woff') format('woff'), url('~assets/fonts/gilroy/Gilroy-SemiBold/Gilroy-SemiBold.ttf') format('ttf'), url('~assets/fonts/gilroy/Gilroy-SemiBold/Gilroy-SemiBold.svg#Gilroy-SemiBold') format('svg');
}

@font-face {
  font-family: 'gilroy';
  font-weight: bold;
  font-style: normal;
  src: url('~assets/fonts/gilroy/Gilroy-Bold/Gilroy-Bold.eot');
  src: url('~assets/fonts/gilroy/Gilroy-Bold/Gilroy-Bold.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/gilroy/Gilroy-Bold/Gilroy-Bold.woff2') format('woff2'), url('~assets/fonts/gilroy/Gilroy-Bold/Gilroy-Bold.woff') format('woff'), url('~assets/fonts/gilroy/Gilroy-Bold/Gilroy-Bold.ttf') format('ttf'), url('~assets/fonts/gilroy/Gilroy-Bold/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
}
