.btn {
  transition: opacity 111ms linear;
  border-radius: 5px!important;
  padding: 0 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 43px!important;
  color: #3a405b;
  border: none;
  cursor: pointer;
  display: block!important;
  position: relative;
  opacity: 1;
  text-transform: uppercase;
  font-size: 1.2rem!important;
  letter-spacing: 1px;
  min-width: auto!important;
  white-space: nowrap;
  &.loading {
    opacity: .5;
    color: transparent!important;
    &::after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      left: calc(50% - 8px);
      top: calc(50% - 8px);
      background-size: 100%;
      background-image: url("/static/images/loading-b.svg");
    }
  }
  &.primary {
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    text-align: center;
    &:hover {
      background-color: var(--blue);
    }
  }
  &.danger {
    background-color: var(--red);
    color: white;
    font-weight: bold;
    text-align: center;
    &:hover {
      background-color: var(--red);
    }
  }
  &.light-blue {
    background-color: var(--secondary-color);
    color: white;
    font-weight: bold;
    text-align: center;
    &:hover {
      background-color: var(--secondary-color);
    }
  }

  &.default {
    background-color: #e5ebf0;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: var(--mod-title);
    &.dark {
      border: solid 1px #ffed00;
      background-color: #ffed00;
      color: #002d72;
    }
  }

  &.sm {
    line-height: 25px;
  }

  &.fullwidth {
    width: 100%;
  }

  &.compact {
    padding: 0!important;
    height: 40px!important;
    max-width: 22.5rem !important;
    line-height: 39px !important;
  }
}
