.widget-scroll-outer {
  position: relative;
  &::after {
    content: '';
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 4px);
    height: 30px;
    background-image: linear-gradient(transparent, white);
    pointer-events: none;
  }
  &.no-shadow {
    &::after {
      display: none;
    }
  }
}

.widget-scroll {
  overflow: auto;
  position: relative;
  overflow-x: hidden;
  border-top: 1px solid transparent;
  &.loading {
    opacity: 0;
  }
  &.scrolled {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    /*box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.1);*/
  }

  /* width */
  &::-webkit-scrollbar {
    width: 4px;
  }

  /* button */
  &::-webkit-scrollbar-button {
    background: #222;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 20px;
    transition: all 333ms ease-out;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
    transition: all 333ms ease-out;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: #d3d3d3;
    }
    &::-webkit-scrollbar-track {
      background: #f9f9f9;
    }
  }

  /* The track NOT covered by the handle.
  ::-webkit-scrollbar-track-piece {
      background: #000;
  }

  /* Corner */
  &::-webkit-scrollbar-corner {
    background: #999;
  }

  /* Resizer */
  &::-webkit-resizer {
    background: #111;
  }
}
