.component-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .client-icon {
    width: 20px;
    margin-right: 10px;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
  }
}

.form-input {
  width: 100%;
  border-radius: 22px;
  border: solid 1px #e5ebef;
  background-color: #f2f5f7;
  .mat-form-field-infix {
    border-top: 0 solid transparent;
    position: relative;
    top: -4px;
    left: 10px;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0;
    height: 33px;
  }
  input {
    width: calc(100% - 10px);
    position: relative;
    top: 1px;
    &::placeholder {
      color: rgba(#003D6B, .5);
    }
  }
  img {
    position: relative;
    width: 12px;
    margin-top: -10px;
  }
  button {
    position: relative;
    top: 1px;
    right: 2px;
  }
  .search-icon {
    position: relative;
    top: 2px;
  }
}
